<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>名称</td><td><%= data.name %></td></tr>
    <tr><td>メーカー</td><td><%= data.manufacturer %></td></tr>
    <tr><td>エンジン</td><td><%= data.engine %></td></tr>
    <tr><td>排気量</td><td><%= data.displacement %></td></tr>
    <tr><td>駆動方式</td><td><%= data.drivetype %></td></tr>
  </table>
  <a href="/cars/edit/<%= id %>">編集</a>

  <a href="/cars/delete/<%= id %>">削除</a>

  <a href="/cars">自動車一覧に戻る</a>
</body>
</html>